@import 'variables';


body {
    color: #666;
    font-family: sans-serif;
}

a {

    text-decoration: none;

    &:visited,
    &:link {
        color: $link-color;
    }

    &:hover,
    &:focus {
        color: $link-color-bright;
    }
}