@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'type';


* {
    margin:0;
    padding:0
}

body {
    background: $page-color;
    text-align: center;
}

.container {
    margin:0 auto;
    padding: 2em;
}


header {
    float: left;
    width: 100%;

    .home {
        @include circle(80px, #fff, inline-block);
        text-indent: -9999px;
        overflow: none;
    }

    .acts,
    .dates {
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
        padding:0.5em 1em;
    }

}

.content {
   background: #f0f0f0; 
   text-align: center;

   p {
       margin:0 auto 1em;
       width:90%;

        @include bp(narrow) {
            width:90%;
        } 
        @include bp(mid) {
            width:70%;
        }
        @include bp(wide) {
            width:50%;
        } 
   }
}

.listing {
    list-style: none;
    padding: 1em;
}

.hero {
    color: #fff;
    height: 300px;
    background: url('/images/red-stage-curtain.jpg') bottom center;
    padding: 8em 2em 2em 2em;
    text-align: center;
}
