@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'type';


* {
    margin:0;
    padding:0;
}

body {
    background: $page-color;
    text-align: center;
}

.container {
    margin:0 auto;
    padding: 2em;
}


header {
    float: left;
    width: 100%;
    
    .home {
        @include circle(80px, transparent, #fff, inline-block);
        text-indent: -9999px;
        overflow: none;
        background: url('/images/mic.svg') no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size:30%;
        
        @include bp(mid) {
            @include circle(100px, transparent, #fff, inline-block);
            background: url('/images/mic.svg') no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size:35%;
        }
        @include bp(wide) {
            @include circle(140px, transparent, #fff, inline-block);
            background: url('/images/mic.svg') no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size:35%;
        } 
    
    }

    * {
        transition:all 0.3s ease;
    }

    .acts,
    .dates {
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
        padding:0.5em 1em;
    }

}

.swell {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.content {
   background: #f0f0f0; 
   text-align: center;

   p {
       margin:0 auto 1em;
       padding: 0 1em 1em;
       width:90%;

        @include bp(narrow) {
            width:90%;
        } 
        @include bp(mid) {
            width:70%;
        }
        @include bp(wide) {
            width:50%;
        } 
   }
}

.listing {
    list-style: none;
    padding: 0 0 1em;
}

.hero {
    color: #fff;
    background: url('/images/red-curtain.jpg') bottom center;
    padding: 8em 2em 2em 2em;
    text-align: center;
}

a.mic {
    border-style:none;
    overflow: none;
    text-align: center;
    @include circle(60px, #000, transparent, inline-block);
    margin: 2em auto 1.5em;
    text-indent: -9999px;
    background-image: url('/images/mic.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size:30%;

    &:hover,
    &:focus {
        @include circle(60px, #000, $link-color, inline-block);;
    }
}

a.letter {
    border-style:none;
    overflow: none;
    text-align: center;
    @include circle(40px, #fff, transparent, inline-block);
    margin: 1em auto 0.5em;
    color:#999;
    font-family: 'league_gothicregular';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.7em;

    &:hover,
    &:focus {
        @include circle(40px, #fff, $link-color, inline-block);;
    }
}

img.mic {
    width: 80px;
    margin-bottom: -1em;
    display: none;

    @include bp(mid) {
        display: inline-block;
    } 

    @include bp(wide) {
        margin-bottom: -2em;
    } 
}
