@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'type';


* {
    margin:0;
    padding:0;
}

body {
    background: $page-color;
    text-align: center;
}

.container {
    margin:0 auto;
    padding: 2em;
}


header {
    float: left;
    width: 100%;
    
    .home {
        @include circle(80px, #fff, inline-block);
        text-indent: -9999px;
        overflow: none;

        transition:all 0.3s ease;

        @include bp(mid) {
            @include circle(100px, #fff, inline-block);
        }
        @include bp(wide) {
            @include circle(140px, #fff, inline-block);
        } 

    }

    .home:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }

    .acts,
    .dates {
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
        padding:0.5em 1em;
    }

}

.content {
   background: #f0f0f0; 
   text-align: center;

   p {
       margin:0 auto 1em;
       padding: 0 1em 1em;
       width:90%;

        @include bp(narrow) {
            width:90%;
        } 
        @include bp(mid) {
            width:70%;
        }
        @include bp(wide) {
            width:50%;
        } 
   }
}

.listing {
    list-style: none;
    padding: 0 0 1em;
}

.hero {
    color: #fff;
    background: url('/images/red-stage-curtain.jpg') bottom center;
    padding: 8em 2em 2em 2em;
    text-align: center;
}

hr.stamp {
    border-style:none;
    @include circle(40px, #000, block);
    margin: 2.5em auto 2em;
}
