<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comedy in the Crown</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#992222">
    <link rel="stylesheet" href="/style/base.css">
    <script src="/js/concat.js" async></script>
    <script src="/js/templates.js" async></script>
  </head>
  <body class="{{ pageClass }}" >
    <header id="top">
      <div class="container">
    {% include "../partials/navigation.html" %}
      </div>
    </header>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="container">
        <a class="home" href="/">home</a>
        <a class="dates" href="/dates">dates</a>
        <a class="acts" href="/featuring">acts</a><br/>
        <a class="social twitter" href="https://twitter.com/comedyincrown" target="_BLANK">Twitter</a>
        <a class="social facebook" href="https://www.facebook.com/comedyinthecrown" target="_BLANK">Facebook</a>
      </div>
    </footer>
  </body>
</html>
