---
api: [api/nights.json]
---
{% extends baseTemplate %}

{% block content %}
{% set pageClass = "home" %}

<div class="hero">
  <h1>Thank you!</h1>
  <p>
    Thanks for signing up to our mailing list. We'll take good care of your email address and only send you emails about our comedy nights.
  </p>
</div>
<div class="container">
  <h2>Keep up to date</h2>
  <p>
    You can also keep up to date with details of upcoming events and availability by following us on <a href="https://twitter.com/comedyincrown">Twitter</a> and via our <a href="https://www.facebook.com/comedyinthecrown/">Facebook page</a>.
  </p>
</div>

{% endblock %}


