---
api: [api/nights.json]
---
{% extends baseTemplate %}

{% block content %}
{% set pageClass = "acts" %}

<div class="hero">
  <h1>Thank you!</h1>
  <p>
    Thanks for getting in touch. We'll get back to you as soon as we can to arrange a spot at Comedy in the Crown
  </p>
</div>
<div class="container">
  <h2>Keep up to date</h2>
  <p>
    To keep up to date with details of upcoming events and availability Follow us on <a href="https://twitter.com/comedyincrown">Twitter</a> and join our <a href="https://www.facebook.com/groups/612796742156818/">Facebook bookings group</a>.
  </p>
  <p>
    Better still, come along to try your luck in person at one of our <a href="/dates">upcoming dates</a>.
  </p>
</div>

{% endblock %}


