{% import "partials/components.html" as comp %}
{% set pageClass = "dates" %}
<div class="hero">
  <h1>Our gig nights</h1>
  <p>
    Comedy nights at The Crown are held on the first and third Tuesdays of every month.
  </p>
</div>
{% set futureNights = [] %}
{% set historicNights = [] %}
{% for item in api.nights %}
{% if item.date | upcoming %}
  {% set futureNights = (futureNights.push(item),futureNights) %}
{% else %}
  {% set historicNights = (historicNights.push(item),historicNights) %}
{% endif %}
{% endfor %}
<div class="container">
  <h4>Coming Up</h4>
  <ul class="listing">
    {% for item in futureNights | sort(false, attribute='date') -%}
      <li>
        {% if loop.first -%}
        <h2 class="sticker-next">Our next comedy night</h2>
          {{ comp.gigDetails(item, "full") }}
        {%- else -%}
          {{ comp.gigDetails(item, "short") }}
        {%- endif -%}
      </li>
      {% if not loop.last -%}
      <a href="#top" data-scroll class="stamp mic">Back to top</a>
      {% endif -%}
    {% endfor -%}
  </ul>
  <h4>Nights gone by</h4>
  <ul class="listing">
    {% for item in historicNights | sort(true, attribute='date') -%}
      <li>
        {{ comp.gigDetails(item, "short") }}
      </li>
      {% if not loop.last -%}
      <a href="#top" data-scroll class="stamp mic">Back to top</a>
      {% endif -%}
    {% endfor -%}
  </ul>
</div>
