{% set pageClass = "dates" %}
<div class="hero">
  <h1>Our gig nights</h1>
  <p>
    Comedy nights at The Crown are held on the first and third Tuesdays of every month.
  </p>
</div>
<div class="container">
  <ul class="listing">
    <h2 class="sticker-next">Our next comedy night</h2>
    {% for item in api.nights | sort(true, attribute='date') -%}
      <li>
        <h2>{{ item.date | date("MMMM Do YYYY") }}</h2>
        <h3 class="subtitle">{{ item.strapLine }}</h3>
        <p>{{ item.description }}</p>
        <h3>Featuring</h3>
        <ul class="listing">
          {% for act in item.acts -%}
            {% if act.link -%}
            <li><a href="{{ act.link }}">{{ act.name }}</a></li>
            {% else -%}
            <li>{{ act.name }}</li>
            {% endif -%}
          {% endfor %}
        </ul>
        <p>
          And your host for the night will be 
          {% if item.mc.link %}
           <a href="{{  item.mc.link }}">{{  item.mc.name }}</a>
          {% else %}
           {{ item.mc.name }}
          {% endif %}
        </p>
        {% if item.facebookEvent -%}
        <p>Find more details and post photos on the event's <a target="_BLANK" href="{{ item.facebookEvent }}">Facebook page</a></p>
        {% endif -%}
      </li>
      {% if not loop.last -%}
      <a href="#top" data-scroll class="stamp mic">Back to top</a>
      {% endif -%}
    {% endfor -%}
  </ul>
</div>
