{% set pageClass = "home" %}


<div class="hero">
  <img class="mic" src="/images/mic.svg" alt="mic">
  <h1>Comedy in the Crown</h1>
  <p>
    A free open mic comedy night in St Albans in a beautiful Hertfordshire pub, just 20 minutes from London's St Pancras Station
  </p>
</div>

<div class="container">
  <h2 class="sticker-next">Our next comedy night</h2>
  {% set night = api.nights | sort(true, attribute='date') | first %}
  <h2>{{ night.dateDisplay }}</h2>
  <h3 class="subtitle">{{ night.strapLine }}</h3>
  <p>
    {{ night.description }}
  </p>
  <h3>Our acts for the night</h3>
  <p>
    Our next open mic night features 7 minute spots from: 
  </p>
  <ul class="listing">
    {% for item in night.acts|sort(attribute='name') %}
      {%- if item.link %}
      <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {%- else -%}
      <li>{{ item.name }}</li>
      {%- endif -%}
    {%- else -%}
      <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
  </ul>
  <p>
    And your host for the night will be
    {%- if night.mc.link %}
    <a href="{{  night.mc.link }}">{{  night.mc.name }}</a>
    {%- else -%}
    {{  night.mc.name }}
    {%- endif -%}
  </p>
   
  <h2 id="where">Where to find us</h2>
  <p>
    <a href="http://www.crownstalbans.com/">The Crown</a> is a lovely pub in St Albans. Just 20 minutes from St Pancras station, we have a little more elbow room than you often find in London. The Crown also has excellent food and a cosy beer garden.
  </p>
  <a class="map" target="_BLANK" href="https://www.google.co.uk/maps/place/The+Crown/@51.7507318,-0.3273821,16.67z/data=!4m5!3m4!1s0x48763edc813a1c57:0x27ba9d9b63e26abe!8m2!3d51.751249!4d-0.3230882">Show me a map</a>
  <p>
    <b>The Crown</b><br/>
    144-146 Hatfield Rd<br/> 
    St Albans AL1 4JA<br/>
    <a href="tel:+441727 853347">01727 853347</a>
  </p>
</div>
