{% import "partials/components.html" as comp %}
{% set pageClass = "home" %}
<div class="hero">
  <img class="mic" src="/images/mic.svg" alt="mic">
  <h1>Comedy in the Crown</h1>
  <p>
    A free open mic comedy night in St Albans in a beautiful Hertfordshire pub, just 20 minutes from London's St Pancras Station
  </p>
</div>
{%- set futureNights = [] -%}
{%- for item in api.nights -%}
{%- if item.date | upcoming -%}
  {%- set futureNights = (futureNights.push(item),futureNights) -%}
{%- endif -%}
{%- endfor -%}
<div class="container">
  <h2 class="sticker-next">Our next comedy night</h2>
    {% for item in futureNights | sort(false, attribute='date') -%}
      {% if loop.first %}
      {{ comp.gigDetails(item, 'full') }}
      {% endif -%}
    {% endfor -%}
  <h2 id="where">Where to find us</h2>
  <p>
    <a href="http://www.crownstalbans.com/">The Crown</a> is a lovely pub in St Albans. Just 20 minutes from St Pancras station, we have a little more elbow room than you often find in London. The Crown also has excellent food and a cosy beer garden.
  </p>
  <a class="map" rel="noopener" target="_BLANK" href="https://www.google.co.uk/maps/place/The+Crown/@51.7507318,-0.3273821,16.67z/data=!4m5!3m4!1s0x48763edc813a1c57:0x27ba9d9b63e26abe!8m2!3d51.751249!4d-0.3230882">Show me a map</a>
  <p>
    <b>The Crown</b><br/>
    144-146 Hatfield Rd<br/>
    St Albans AL1 4JA<br/>
    <a href="tel:+441727 853347">01727 853347</a>
  </p>


<h2 id="register">Stay informed</h2>
  <p>
    Sign up to our newsletter for information about upcoming special events. No spam, no nonesense. We promise.
  </p>
  <form name="newsletter" action="/registered/" netlify netlify-honeypot="real-name">
    <p>
      <label for="email">Your email address:</label>
      <input type="email" name="email">
    </p>
    <p class="netlify-filter"><label for="real-name">Really?<input name="real-name"></label></p>
    <input type="submit" value="Sign me up for news" />
  </form>


  <h2 id="register">Perform at The Crown</h2>
  <p>
    We welcome seasoned performers and curious first-timers alike. We have a lot of demand for our 7 minute spots, so the more flexible you can be about when in the future you'd like to perform, the easier it will be to grab your moment.
  </p>
  <p>Tell us a little about yourself and we'll get back to you as soon as we can.</p>
  <form name="register" action="/thanks/" netlify netlify-honeypot="real-name">
    <p>
      <label for="name">Your name:</label>
      <input type="text" name="name">
    </p>
    <p>
      <label for="email">Your email address:</label>
      <input type="email" name="email">
    </p>
    <p>
      <label for="message"l>Message:</label>
      <textarea name="message"></textarea>
    </p>
    <p class="netlify-filter"><label for="real-name">Really?<input name="real-name"></label></p>
    <input type="submit" value="Request a spot" />

  </form>
  <h2>Other ways to perform</h2>
  <p>
    The best way to get a performance spot is to fill in the form above, but we do also get last minute cancellations which allow us to award walk-in spots.
  </p>
  <p>
    Follow us on <a href="https://twitter.com/comedyincrown">Twitter</a> to keep an eye on announcements or join our <a href="https://www.facebook.com/groups/612796742156818/">Facebook bookings group</a>. Better still, come along to try your luck in person.
  </p>

</div>
