{% set pageClass = "on" %}



<ul class="listing">
  {% for item in api.nights %}
    <li>
      <h2><a href="/on/{{ item.date }}">{{ item.date }}</a></h2>
      <h3>{{ item.strapLine }}</h3>
      <p>{{ item.description }}</p>
      <h4>Featuring</h4>
      <ul class="listing">
        {% for act in item.acts %}
          {% if act.link %}
          <li><a href="{{ act.link }}">{{ act.name }}</a></li>
          {% else %}
          <li>{{ act.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
