{% import "partials/components.html" as comp %}
{% set pageClass = "night" %}
{%- set gig = "" -%}
{%- for item in api.nights -%}
  {%- set testDate = item.date | urlify -%}
  {%- if testDate == path -%}
    {%- set gig = item -%}
  {%- endif -%}
{%- endfor -%}

<div class="hero night-hero">
  <h1>{{ gig.date | date }}</h1>
</div>
<div class="container">
{{ comp.gigDetails(gig, "specific") }}

{% if gig.pictures.length > 0 %}
<h3>Photos</h3>
<div class="gallery">
{%- for photo in gig.pictures -%}
<a href="https:{{ photo.url }}"><img src="https:{{ photo.url }}?h=100&w=100&fit=thumb" alt="{{ photo.title }}" /></a>
{%- endfor -%}
</div>
{% endif %}

</div>

