{% import "partials/components.html" as comp %}
{% set pageClass = "acts" %}

<div class="hero">
  <h1>Performers</h1>
  <p>
    From first-timers to professionals, we have been delighted to have had performances from {{ api.acts.length }} different lovely people. And our family of performers keeps on growing and growing. <a href="#bookings" data-scroll>Join them</a>?
  </p>
</div>
<div class="container">
  <ul class="listing">
    {% set latestInitial = "" %}
    {% for item in api.acts|sort(attribute='name') -%}
      {% if latestInitial  == item.name.substr(0,1) -%}
      {% else -%}
        {% set latestInitial = item.name.substr(0,1) -%}
        <a href="#top" data-scroll class="stamp letter">{{ latestInitial }}</a>
      {% endif -%}
      <li>{{ comp.performer(item) }}</li>
    {% else -%}
      <li>This would display if the 'item' collection were empty</li>
    {% endfor -%}
  </ul>
  <a href="#top" data-scroll class="stamp mic">Back to top</a>
  <p id="bookings">If you want to join them as performers at Comedy in the Crown, or have other questions, please get in touch via our <a href="/contact/#register">contact form</a>.</p>
</div>
