@mixin bp($point) {
  
  $bp-narrow: "(min-width: 400px)";
  $bp-mid: "(min-width: 600px)";
  $bp-wide: "(min-width: 900px)";

  @if $point == narrow {
    @media #{$bp-narrow} { @content; }
  }
  @else if $point == mid {
    @media #{$bp-mid} { @content; }
  }
  @else if $point == wide {
    @media #{$bp-wide}  { @content; }
  }

}


@mixin circle($size, $color, $border-color, $display) {
  display: $display;
  width: $size;
  height: $size;
  background-color: $color;
  border: solid $size/15 $border-color;
  -webkit-border-radius: $size/2+$size/15;
  -moz-border-radius: $size/2+$size/15;
  border-radius: $size/2+$size/15;
}


@mixin rotate($val) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}
