@mixin bp($point) {
  
  $bp-narrow: "(min-width: 400px)";
  $bp-mid: "(min-width: 600px)";
  $bp-wide: "(min-width: 900px)";

  @if $point == narrow {
    @media #{$bp-narrow} { @content; }
  }
  @else if $point == mid {
    @media #{$bp-mid} { @content; }
  }
  @else if $point == wide {
    @media #{$bp-wide}  { @content; }
  }

}



@mixin circle($size, $color, $display) {
    display: $display;
    line-height: $size;
    width: $size;
    height: $size;
    background: $color;
    -webkit-border-radius: $size/2;
    -moz-border-radius: $size/2;
    border-radius: $size/2;
}