body {
    line-height: 1.6em;
    font-family: sans-serif;
    color: $text-color;
    font-size: $base-font-size;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-family: 'league_gothicregular';
    text-transform: uppercase;
    font-weight: normal;
}

h1 { 
    display: inline-block;
    font-size: 2.5em; 
    margin: 0.5em 0 1em;
    padding:0 0 0.2em;
    border-bottom: solid 0.12em #fff;
    
    @include bp(narrow) {
        font-size: 3em;
        padding-bottom: 0.3em;
    } 
    @include bp(mid) {
        font-size: 4em;
    }
    @include bp(wide) {
        font-size: 6em;
        padding-bottom: 0.4em;
        margin-bottom: 0.6em;
    } 
}

h2 { font-size: 2em; margin: 0.2em 0 1em;}
h3 { font-size: 1.8em; margin: 0.2em 0 1em;}
h4 { font-size: 1.2em; margin: 0.2em 0 1em;}




a {
    text-decoration: none;
    &:visited,
    &:link,
    &:active {
        color: $link-color;
    }
    &:hover,
    &:focus {
        color: $link-color-bright;
    }
}

.navigation {
    list-style: none;
    li {
        display: inline;
        padding: 0.2em 0.2em;
    }
    a {
        font-size: 0.8em;
        vertical-align: middle;

        &:visited,
        &:link,
        &:active {
            color: #fff;
        }
        &:hover,
        &:focus {
            color: transparent;
            background-color: #fff;
        }
    }
}



.next-night {
    display: block;
    margin:1em auto;
    font-size: 2em;
    background-color: $link-color;
    color:#fff;
    padding: 1em;
    border-radius: 2px;
}

.button {
    display: inline-block;
    margin:1em auto;
    font-size: 2em;
    border: solid 2px $link-color;
    color:#fff;
    padding: 1em;
    border-radius: 2px;
}

