body {
    line-height: 1.6em;
    font-family: sans-serif;
    color: $text-color;
    font-size: $base-font-size;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-family: 'league_gothicregular';
    text-transform: uppercase;
    font-weight: normal;
}

h1 { 
    display: inline-block;
    font-size: 2.5em; 
    margin: 0.5em 0 1em;
    padding:0 0 0.2em;
    border-bottom: solid 0.12em #fff;
    
    @include bp(narrow) {
        font-size: 3em;
        padding-bottom: 0.3em;
    } 
    @include bp(mid) {
        font-size: 4em;
    }
    @include bp(wide) {
        font-size: 6em;
        padding-bottom: 0.4em;
        margin-bottom: 0.6em;
    } 
}

h2 { 
    font-size: 2.4em; 
    margin: 1em 0 0.2em;
    line-height: 1em;
    
    @include bp(narrow) {
        font-size: 2.6em;
    } 
    @include bp(mid) {
        font-size: 3em;
    }
    @include bp(wide) {
        font-size: 4em;
    }

    a {
        padding: 0;
    }
}

h3 { 
    font-size: 2em; 
    margin: 0.6em auto 0.5em;
    line-height: 0.9em;
    
    @include bp(narrow) {
        font-size: 2.3em;
    } 
    @include bp(mid) {
        font-size: 4em;
    }
    @include bp(wide) {
        font-size: 6em;
        width:75%;
    } 
}

h3.subtitle {
   margin-top: 0;
   margin-bottom: 0.5em;
}

h4 {
    display: inline-block;
    line-height: 0.9em;
    padding: 0.5em 1em;
    margin: 1em auto 0em;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 1.4em;

    @include bp(narrow) {
        font-size: 1.8em;   
    } 
    @include bp(mid) {
        font-size: 2em;
    }
    @include bp(wide) {
        font-size: 2.2em;
    } 
}

a {

    text-decoration: none;

    &:visited,
    &:link,
    &:active {
        color: $link-color-dark;
        white-space: nowrap;
    }
    &:hover,
    &:focus {
        color: $link-color;
        border-bottom: solid 1px $link-color-bright;
    }
}

.navigation {
    list-style: none;
    li {
        display: inline;
        padding: 0.2em 0.2em;
    }
    a {
        font-size: 0.8em;
        vertical-align: middle;

        @include bp(wide) {
            font-size: 1.1em;
        } 

        &:visited,
        &:link,
        &:active {
            color: #fff;
        }
        &:hover,
        &:focus {
            color: #880000;
            background-color: #fff;
        }
    }
}

header .navigation {

    a.home {
        &:hover,
        &:focus {
            background-color: transparent;
        }
    }
}



.sticker-next {
    border: solid 4px $link-color-dark;
    border-radius: 3px;
    color: $link-color-dark;
    font-size: 1.2em;
    padding: 0.4em 1em;
    margin:0;
    display: inline-block;
    position: relative;
    @include rotate(-5deg);
    bottom: -42px;

    @include bp(narrow) {
        bottom: -55px;
        left: -100px;
    } 
    @include bp(mid) {
        bottom: -60px;
        left: -100px;
    }
    @include bp(wide) {
        font-size: 1.4em;
        bottom: -80px;
        left: -150px;
    } 
}


a.map {
    
    font-family: 'league_gothicregular';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8em;
    padding: 0.6em 1em;
    margin: 0 auto 1em;
    border-radius: 3px;
    display: inline-block;
    border: solid 4px $link-color-dark;
    background-color: #fff;
    
    &:visited,
    &:link,
    &:active {
        color: $link-color-dark;
    }
    &:hover,
    &:focus {
        color: #fff;
        background-color: $link-color-dark;
    }

    @include bp(wide) {
        font-size: 2.2em;
    }    
}


a.social {
  display: inline-block;
  width: 50px;
  height:50px;
  text-indent: -9999px;
  overflow: none;
  margin-top: 2em;
  &:hover,
  &:focus {
    fill: #880000;
    border-style:none;
  }
}

a.twitter {
    background-image: url('/images/twitter.svg');
}
a.facebook {
    background-image: url('/images/facebook.svg');
}

footer {
  padding-bottom: 2em;
  a {
    margin: 0.25em;
    &:visited,
    &:link,
    &:active {
      color: #fff;
    }
  }
  .meta {
    font-size: 0.8em;
    margin-top: 2em;
    font-style: italic;
    a {
      &:visited,
      &:link,
      &:active {
        color: #999;
      }
    }
  }
}